@import "../../styles/globals.css";

.tiptap.ProseMirror {
  border: 0.05rem solid #d4d4d4;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
  margin-top: 0.5rem;
  user-select: none;
  outline: none;
}

.tiptap.ProseMirror a {
  cursor: pointer; /* Change cursor to hand on hover over links */
}
